* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
body {
  margin: 0px;
  background-color: rgb(27, 26, 26);
}
header {
  background-color: #c8a8f0;
  color: white;
  text-align: center;
  padding: 5px;
}
main {
  background-color: #a0e8e0;
  color: #333;
  width: 400px;
  margin: auto;
  padding: 25px;
  text-align: center;
}
footer {
  background-color: #c8a8f0;
  color: white;
  text-align: center;
  padding: 10px;
}
main h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}
div {
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
  border-bottom: 1px solid #c8a8f0;
}
.posteo {
  background-color: #a0e8e0;
}
.anuncio {
  background-color: #ffd700;
}
#foto-perfil {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
img {
  width: 100%;
}
#nombre-perfil {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid black;
  font-size: 20px;
}
